:root {
    --primary-blue: #095AA7;
    --primary-white: #FFFAFB;
    --font-main: "Source Serif 4", serif;
    --font-heading: "Playfair Display", serif;
    --transition: 0.3s ease-in-out;
}

body {
    overflow-y: hidden;
}

nav {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    &::before {

    }
}

#chartContainer {
    /* Pie chart will be added above the "Net Income $" text field. */
    border: 2px solid black;
    border-radius: 10px;
    grid-area: 1 / 1 / span 2;
    justify-items: center;
    & h3 {
        width: fit-content;
        padding: 1rem;
        padding-bottom: 0.25rem;
        font-family:var(--font-main);
        border-bottom: 1px solid black;

    }
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    font-family: var(--font-heading);

    padding: 10px;

    /* Logo */

    /* Section of text anchor links at right of nav */
    & #textclickables {
        gap:2rem;
        display: flex;
        justify-content: flex-end;
        & a {
            text-decoration: none;
            color: var(--primary-white);
        }
    }
}

/* Targets individual anchor links */
nav ul li {
    background-color: var(--primary-blue);
    padding: 1rem 2rem; /* May need to change to fix dimensions of whatever words apepar */
    border-radius: 10px;
}

#contentContainer {
    border: 2px solid black;
    border-radius: 20px;
}

#interactables {
    display: grid;
    grid-template: auto 100px / 250px auto;
    /* 250px is the pie chart, change as you like */
    gap: 1rem;

    padding: 1rem;
}

/* Step container */
.stepContainer {
    display: flex;
    justify-content: center;
    gap: 3rem;

    padding: 10px;

    /* Individual elements */
    & button {
        border: 3px solid black;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        font-size: 20px;

        /* Create lines between numbers */
        /* DOesn't rlly work rn */
    }

    & .active {
        background-color: var(--primary-blue);
        color: var(--primary-white);
    }
}

/* Input Fields */
form .inputs {
    /* Want an auto-row here, maybe */
    display: grid;
    grid-template: 50px / auto auto;
    gap:1rem;
    padding-bottom:1rem;
}

h2 {
    border-bottom:2px solid black;
    width:fit-content;
    font-family:var(--font-heading);
    padding-right:1rem;
    padding-bottom:0.25rem;
}

input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    height:40px;
    width: minmax(200px, fit-content);
    font-family:var(--font-main);
    font-size: 18px;
    color: black;
    & ::placeholder {
        font-family: var(--font-main);
        color:rgba(0, 0, 0, 0.5)
    }
}

/* For forms */
.inactive {
    display: none;
}

/* Next button */
#nextForm {
    background-color: var(--primary-blue);
    color: var(--primary-white);

    border: 2px solid black;
    border-radius: 10px;

    width: 80px;
    height: 40px;
}

.addinput {
    background-color: var(--primary-blue);
    color: var(--primary-white);

    border: 2px solid black;
    border-radius: 10px;

    width: fit-content;
    height: 40px;
}