@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourceserif4/v14/vEFI2_tTDB4M7-auWDN0ahZJW1gb8tc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v40/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

:root {
    --primary-blue: #095AA7;
    --primary-white: #FFFAFB;
    --font-main: "Source Serif 4", serif;
    --font-heading: "Playfair Display", serif;
    --transition: 0.3s ease-in-out;
}

body {
    overflow-y: hidden;
}

nav {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;

    /* For the logo*/
}

button:hover {
    cursor: pointer;
}

#chartContainer {
    /* Pie chart will be added above the "Net Income $" text field. */
    border: 2px solid black;
    border-radius: 10px;
    grid-area: 1 / 1 / span 2;
    justify-items: center;

    & h3 {
        width: fit-content;
        padding: 1rem;
        padding-bottom: 0.25rem;
        font-family: var(--font-main);
        border-bottom: 1px solid black;
        font-size: 25px;
    }

    & #netIncome {
        font-size: 20px;
    }
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    font-family: var(--font-heading);

    padding: 10px;

    /* Logo */

    /* Section of text anchor links at right of nav */
    & #textclickables {
        gap: 2rem;
        display: flex;
        justify-content: flex-end;

        & a {
            text-decoration: none;
            color: var(--primary-white);
        }
    }
}

/* Targets individual anchor links */
nav ul li {
    background-color: var(--primary-blue);
    padding: 1rem 2rem;
    /* May need to change to fix dimensions of whatever words apepar */
    border-radius: 10px;
    /* Doesn't work */
    &.logo > a {
        width: max-content;
        height: max-content;
        background-image: url(images\logo.png);
        background-repeat: no-repeat;
    }
}

#contentContainer {
    justify-self: center;
    align-self: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1em;
    width: fit-content;
}

#interactables {
    display: grid;
    grid-template: auto 100px / 250px auto;
    /* 250px is the pie chart, change as you like */
    gap: 1rem;

    padding: 1rem;
}

/* Step container */
.stepContainer {
    display: flex;
    justify-content: center;
    gap: 3em;
    font-family: var(--font-heading);
    /* font family doens't work pls fix it 😁 */
    padding: 10px;

    /* Individual elements */
    & button {
        border: 3px solid black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 1rem;

        font-size: 20px;

        &:hover {
            transition: var(--transition);
            background-color: var(--primary-blue);
            color: var(--primary-white);
        }

        &::after {
            content: "";
            width: 3rem;
            border: 1px black solid;
            position: absolute;
            transform: translate(2rem, .5rem);
        }


        /* Create lines between numbers */
        /* DOesn't rlly work rn */
    }

    /* put down the child */
    & button:last-child::after {
        display: none;
    }

    & .active {
        background-color: var(--primary-blue);
        color: var(--primary-white);
    }
}

/* Input Fields */
form .inputs {
    /* Want an auto-row here, maybe */
    display: grid;
    grid-template: 50px / auto auto;
    gap: 1rem;
    padding-bottom: 1rem;
}

h2 {
    border-bottom: 2px solid black;
    width: fit-content;
    font-family: var(--font-heading);
    padding-right: 1rem;
    padding-bottom: 0.25rem;
}

input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    height: 40px;
    width: 250px;
    font-family: var(--font-main);
    font-size: 18px;
    color: black;

    & ::placeholder {
        font-family: var(--font-main);
        color: rgba(0, 0, 0, 0.5)
    }
}

/* For forms */
.inactive {
    display: none;
}

/* Next button */
#nextForm {
    background-color: var(--primary-blue);
    color: var(--primary-white);

    border: 2px solid black;
    border-radius: 10px;

    width: 80px;
    height: 40px;
}

.add-input {
    background-color: var(--primary-blue);
    color: var(--primary-white);

    border: 2px solid black;
    border-radius: 10px;

    width: fit-content;
    height: 40px;
}

.needs-wants-savings {
    font-family: var(--font-heading);
    border: black 2px solid;

    
}

.edit-header {
    color: var(--primary-white);
    background-color: var(--primary-blue);
    border-radius: 10px;
    
   
}

tbody tr td {
    padding: 0.5rem;
}

thead tr th {
    border-bottom: black 2px solid;
}
  
